<%- include('partials/header') %>

<table>
    <tr><th>ID</th>
    <th>Date</th>
    <th>Staus</th>
    <th>Location</th>


    
</tr>


   
  <% Tracks.forEach((Track)=>{ %>
 
    <tr>
        <td> <%= Track.Package_ID %>  </td>
      
        
        <td><%= Track.History %> </td>
      
   

        <td><%= Track.status %></td>
       
        <td><%= Track.Location_ID %></td>
        
    </tr>

   <% }) %>

  

</table>
<h1>
</h1>